osx_image: xcode7.3
language: objective-c
notifications:
  email: false
before_script:
  - cp "./Anime Detour/GoogleAnalyticsConfiguration.plist.dist" "./Anime Detour/GoogleAnalyticsConfiguration.plist"
script:
  - xcodebuild -workspace "Anime Detour.xcworkspace" -scheme "Anime Detour" -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO
