<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Subdomain</key>
	<string>ssetest2015</string>
	<key>API Key</key>
	<string>21856730f40671b94b132ca11d35cd5d</string>
	<key>Time Zone</key>
	<string>America/Chicago</string>
</dict>
</plist>
